<header>
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" height="30" alt="image">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav3">
        <ul class="navbar-nav ml-auto">
          <% if current_user.present? %>
            <li class="nav-item active">
              <a class="nav-link" href="#">ホーム<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to '商品', products_path , class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'プロフィール', current_user , class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', logout_path, method: :delete, class:"btn btn-outline-primary ml-md-3"%>
            </li>
          <% else %>
            <li class="nav-item active">
              <a class="nav-link" href="#">ホーム<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to 'サインイン', new_user_path, class:"btn btn-outline-primary ml-md-3"%>
            </li>
            <li class="nav-item">
              <%= link_to 'ログイン', login_path, class:"btn btn-outline-primary ml-md-3"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>